[submodule "doc/_build/html"]
	path = doc/_build/html
	url = https://github.com/colmap/colmap.github.io.git
	ignore = all
[submodule "lib/pnp_lib"]
	path = lib/pnp_lib
	url = https://github.com/emironovich/pnpf_uncalibrated_lib.git
